[submodule "install-node-modules"]
	path = install-node-modules
	url = git@github.com:office-tecoli/actions-install-node-modules.git
[submodule "python-tools"]
	path = python-tools
	url = git@github.com:office-tecoli/actions-use-python-tools.git
[submodule "perl-tools"]
	path = perl-tools
	url = git@github.com:office-tecoli/actions-use-perl-tools.git
[submodule "apt-tools"]
	path = apt-tools
	url = git@github.com:office-tecoli/actions-use-apt-tools.git
[submodule "x-tools"]
	path = x-tools
	url = git@github.com:office-tecoli/actions-use-x-tools.git
[submodule "brew-tools"]
	path = brew-tools
	url = git@github.com:office-tecoli/actions-use-brew-tools.git
