[submodule "any-tools"]
	path = any-tools
	url = git@github.com:tecoli-com/actions-use-any-tools.git
[submodule "apt-tools"]
	path = apt-tools
	url = git@github.com:tecoli-com/actions-use-apt-tools.git
[submodule "brew-tools"]
	path = brew-tools
	url = git@github.com:tecoli-com/actions-use-brew-tools.git
[submodule "perl-tools"]
	path = perl-tools
	url = git@github.com:tecoli-com/actions-use-perl-tools.git
[submodule "python-tools"]
	path = python-tools
	url = git@github.com:tecoli-com/actions-use-python-tools.git
[submodule "ruby-tools"]
	path = ruby-tools
	url = git@github.com:tecoli-com/actions-use-ruby-tools.git
[submodule "install-and-cache"]
	path = install-and-cache
	url = git@github.com:tecoli-com/actions-install-and-cache.git
[submodule "install-node-modules"]
	path = install-node-modules
	url = git@github.com:tecoli-com/actions-install-node-modules.git
